.fontSelect {
    display: flex;
    flex-direction: column;
    position: relative;
}

.fonts {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    border: 1px solid;
    background: white;
    padding: 2px;
}

.font {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.font:hover {
    background: antiquewhite;
}
