.form {
    position: absolute;
    top: 100%;
    z-index: 1000000;
}

.sizeHandler {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: -8px;
    background: transparent;
    cursor: nwse-resize;
}
.posHandler {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -8px;
    left: -8px;
    background: transparent;
    cursor: move;
}