.imageSelect {
    display: flex;
    flex-direction: column;
    position: relative;
}

.images {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    border: 1px solid;
    background: white;
    padding: 2px;
}

.image {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.image:hover {
    background: antiquewhite;
}
