.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}
.saddlebrown {
    background: saddlebrown;
}