.fontsBrowser {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    /*background: white;*/
    padding: 3px;
    position: relative;
    align-items: center;
    justify-content: center;
}


.handler {
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 55px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.handler small {
    margin-left: 1px;
    font-size: 10px;
}

.content {
    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    border: 1px solid black;
    z-index: 11000;
    width: 400px;
    background: white;
    max-height: 50vh;
    overflow-y: scroll;
    display: none;
}


.open .content {
    display: flex;
    flex-direction: column;
}

.open .handler {
    font-weight: bold;
}

.fonts {
    display: flex;
    flex-direction: column;
}

.font {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid black;

    padding: 2px 0 2px 10px;
    box-sizing: border-box;
}

.font button {
    opacity: 0;
    cursor: pointer;
}
.font:hover button {
    opacity: 1;
}

.font > div {
    text-overflow: ellipsis;

    overflow: hidden;
}

.font > .name {
    /*border: 1px solid red;*/
    /*flex: 0 1 auto;*/

    flex: 1 1 auto;
    overflow-wrap: anywhere;
}


.fileInput {
    border-bottom: 1px solid black;
    width: 100%;

    padding: 0 10px 3px;
    box-sizing: border-box;
}

.fileInput input {
    display: block;
    width: auto;
    height: auto;
    position: relative;
    opacity: 1;
    z-index: 1;
}

.fileInput label {
    display: none;
}