.imageBrowser {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 3px;
    max-width: 200px;
}

.images {
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    align-items: flex-start;
    border-bottom: 1px solid black;

}
.image > div {
    text-overflow: ellipsis;

    overflow: hidden;
}

.image > .imageName {
    /*border: 1px solid red;*/
    flex: 0 1 auto;
}
